<footer>
    <div class="contact-details">
        <p>Resto Address</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@resto.com</p>
    </div>

    <div class="library-hours">
        <p><strong>Resto Hours</strong></p>
        <p>Monday - Friday: 9 AM - 12 PM</p>
        <p>Saturday: 10 AM - 12 PM</p>
    </div>

    <div class="helpful-links">
        <a href="#">Instagram</a>
        <a href="#">Fecbook</a>
        <a href="#">Twiter</a>
    </div>
</footer>