<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restorants</title>
    <link rel="icon" href="../img/restoranLogo.jpeg">

    <Link rel="stylesheet" href="./RestoMain/RestoMain.css"></Link>

</head>

<body>

    <main>
        <dev id="devNameResto" class="devNameResto">
            <img class="restoranLogo" src="../img/restoranLogo.jpeg">
            <p id="nameResto" class="nameResto"> R E S T O R A N T</p>
        </dev>
        <dev class="devMenuName">
            <p id="menuName" class="menuName">Menu</p>
        </dev>
        <dev class="devMenu">
            <% MenuItem.forEach(item => { %>
                <a href="/pizzas/<%=item.menu._id %>">
                    <dev class="itemDev">
                        <img class="divMenuImg" src="../img/Pizza.jpeg" alt="">
                        <dev class="nameRestoMenu">
                            <%= item.name %> - $

                                <%= item.is_available %>
                        </dev>
                    </dev>
                </a>

                <% }) %>
        </dev>


    </main>


    <%- include('../partials/footer') %>

</body>

</html>